################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OfficeAttendenceSystem/v16/Server/sqlite3/db.lock
/.vs/OfficeAttendenceSystem/v15/Server/sqlite3/db.lock
