<p>
    {{Title}}</p>

<!-- <ol>
    <li *ngFor="let d of departmetnList">{{d.name+ " Serial:" +" "+ d.id}}</li>
</ol> -->

<table mat-table [dataSource]="departmetnList">
    <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>